body {
  background-color: #011936;
  margin: 0;
  display: grid;
  grid: 8rem 5rem auto / auto 60rem auto;
}

.top-bar {
  width: 100%;
  height: 8rem;
  background-color: #011936;
  align-items: center;
  grid-area: 1/1 /span 1 / span 3;
}

main {
  border: 5px ridge #011936;
  min-height: 60rem;
  grid-area: 3/2;
  background-color: aliceblue;
}

#widthSameAsHeight {
  aspect-ratio: 1/1;
}

.padding-1 {
  padding: 1rem;
}

.border{
  border-bottom: 2px ridge bisque;
}

.justi-cont-right {
  justify-content: right;
}

.justi-cont-center {
  justify-content: center;
}

#sign-up {
  background-color: aquamarine;
  border: none;
  color: black;
  transition: box-shadow 0.15s;
}

#sign-up:hover {
  box-shadow: 0 0 1.5rem aquamarine;
  cursor: pointer;
}

#log-in {
  background-color: transparent;
  border: 4px solid aquamarine;
  color: aquamarine;
  transition: box-shadow 0.15s;
}

#log-in:hover {
  box-shadow: 0 0 1.5rem aquamarine;
  cursor: pointer;
}

.buttons > * {
  margin-right: 2rem;
  height: 3rem;
  width: 10rem;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bolder;
}

.flex {
  display: flex;
}

.flex-dir-row {
  flex-direction: row;
}