body {
  background-color: #e5e5e5;
  margin: 0;
  display: grid;
  grid: 8rem 5rem auto / auto 60rem auto;
}

.flex {
  display: flex;
}

.flex-dir-row {
  flex-direction: row;
}

.top-bar {
  height: 8rem;
  background-color: #011936;
  align-items: center;
  grid-area: 1/1 /span 1 / span 3;
}

.buttons > * {
  margin-right: 2rem;
  height: 3rem;
  width: 10rem;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bolder;
}

main {
  border-right: 4px solid dimgrey;
  border-left: 4px solid dimgray;
  min-height: 60rem;
  grid-area: 3/2;
  background-color: #e5e5e5;
}

.padding-1 {
  padding: 1rem;
}

.just-cont-btwn {
  justify-content: space-between;
}

.justi-cont-center {
  justify-content: center;
}

#sign-up {
  background-color: aqua;
  border: none;
  color: black;
  transition: box-shadow 0.15s;
}

#sign-up:hover {
  box-shadow: 0 0 1.5rem aqua;
  cursor: pointer;
}

#log-in {
  background-color: transparent;
  border: 4px solid aqua;
  color: aqua;
  transition: box-shadow 0.15s;
}

#log-in:hover {
  box-shadow: 0 0 1.5rem aqua;
  cursor: pointer;
}