.dropdown {
  margin-right: 2rem;
  position: relative;
  display: inline-block;
  align-self: center;
}

.drop-btn {
  display: flex;
  justify-content: end;
  height: 3rem;
}

.drop-content {
  border-radius: 10px;
  display: none;
  position: absolute;
  right: 0;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.drop-content a:first-child {
  border-radius: 10px 10px 0 0;
}

.drop-content a:last-child {
  border-radius: 0 0 10px 10px;
}

.drop-content a {
  background-color: transparent;
  color: black;
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
}

.drop-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .drop-content {
  display: block;
}




@media (max-width: 750px) {
  .top-bar {
    grid: 8rem/15rem auto 15rem;
  }
}