footer {
    grid-area: 3/1 / span 1 / span 3;

    height: 5rem;
    align-self: end;
    justify-content: center;
    align-items: center;
    background-color: #011936
}

.footer-github {
    height: 2rem;
    width: 2rem;
}